[diff "csharp"]
    xfuncname = ^[ \\t]*(((static|public|internal|private|protected|new|virtual|sealed|override|unsafe|async|partial)[ \\t]+)*[][<>@.~_[:alnum:]]+[ \\t]+[<>@._[:alnum:]]+[ \\t]*\\(.*\\))[ \\t]*$
[push]
  default = simple
[alias]
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
  d = difftool
  ls = "log --oneline"
  nuke = !sh -c 'git branch -D $1 && git push origin :$1' -
  ours = "!f() { git checkout --ours ${@-.} && git add ${@-.}; }; f"
  theirs = "!f() { git checkout --theirs ${@-.} && git add ${@-.}; }; f"
  lf = "log --pretty=format:\"%C(yellow)%h%Cred%d\\ %Creset%s%Cgreen\\ [%cn]\" --decorate --numstat"
  # Example: git rename origin old_branch new_branch
  rename = "!git branch -m $2 $3 && git push $1 :$2 $3 -u #"
[core]
  autocrlf = true
  excludesfile = ~/.gitignore_global
  ignorecase = true
  safecrlf = warn
  pager = diff-so-fancy | less --tabs=4 -RFX
  attributesfile = ~/.gitattributes
  #editor = nvim
[pull]
  rebase = true
[rebase]
  stat = true
  autoSquash = true
[log]
  follow = true
[merge]
  renormalize = true
  tool = vimdiff
[mergetool]
    prompt = true
[mergetool "vimdiff"]
    cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J
[difftool]
    prompt = false
[diff]
  tool = vimdiff
[branch]
  autosetuprebase = always
[color "diff"]
  new = green bold
  meta = yellow
  frag = magenta bold
  commit = yellow bold
  old = red bold
  whitespace = red reverse
[color "status"]
  updated = green bold
[color "branch"]
  current = green bold
[user]
  name = Name
  email = Email
[rerere]
  enabled = true
  autoUpdate = true
[color]
  ui = true
[color "diff-highlight"]
  oldNormal = red bold
  oldHighlight = red bold 52
  newNormal = green bold
  newHighlight = green bold 22
