" Options {
    " Disable bell sounds
    set                  visualbell
    set                  noerrorbells
    " Settings
    set                  cursorline
    " Enable vim surround function
    set                  surround
    set                  ignorecase smartcase
    set                  clipboard=unnamed
    set                  scrolloff=5
    set                  undolevels=100
    set                  number
    "set                  relativenumber
    set                  incsearch
" }
" Set leader key {
  let mapleader = ' '
" }
"

" Package Management {
    nnoremap            <Leader>pm :action RiderNuGetQuickListPopupAction<CR>
" }

" Navigation {
    map                  Y y$
    inoremap             jk <esc>
    nnoremap             <C-j> :action MethodDown<CR>
    nnoremap             <C-k> :action MethodUp<CR>
     " This should be binded from the editor binding names:
      " Forward : Navigate -> Forward 
      " BackWard: Navigate -> Back
      "nnoremap             <c-i> :action Forward<CR>
      "nnoremap             <c-o> :action Back<CR>
     " This should be binded from the editor UI instead.
     " nnoremap             <c-s-tab> gT
     " nnoremap             <c-tab> gt
    nnoremap             <Leader>rc :action ReformatCode<CR>
    nnoremap             <Leader>fU :action FindUsages<CR>
    nnoremap             <Leader>fu :action ShowUsages<CR>
    nnoremap             <Leader>gb :action GotoNextBookmark<CR>
    nnoremap             <Leader>gB :action GotoPreviousBookmark<CR>
    nnoremap             <Leader>ge :action ReSharperGotoNextErrorInSolution<CR>
    nnoremap             <Leader>gE :action ReSharperGotoPrevErrorInSolution<CR>
    nnoremap             <Leader>gf :action GotoFile<CR>
    nnoremap             <Leader>gi :action GotoImplementation<CR>
    nnoremap             <Leader>gm :action FileStructurePopup<cr>
    nnoremap             <Leader>bp :action ViewBreakpoints<cr>
    nnoremap             <Leader>fs :action ActivateProjectToolWindow<CR>
    
    nnoremap             j gj
    nnoremap             k gk
    nnoremap             x "_x
    nnoremap             X "_X
    nnoremap             Y y$
" }

" Commands {
    nnoremap             <Leader>B :action build<CR>
    nnoremap             <Leader>bm :action ToggleBookmark<CR>
    nnoremap             <Leader>bp :action ToggleLineBreakpoint<CR>
    nnoremap             <Leader>cr :action CollapseRegion<CR>
    nnoremap             <Leader>co :action ExpandRegion<CR>
    nnoremap             <Leader>D :action Debug<CR>
    nnoremap             <Leader>R :action Run<CR>
    nnoremap             <Leader>re :action RenameElement<CR>
    nnoremap             <Leader>sv :source ~/.ideavimrc<CR>
    nnoremap             <Leader>? :action ShowHoverInfo<CR>
    " Seems to not be possible to override commands, uppercasing first letter
    " works tho
    command Only action CloseAllEditorsButActive
    command On action CloseAllEditorsButActive
" }
" Debugger {
   nnoremap             <C-q> :action EvaluateExpression<CR>
" }
